<app-toolbar />
<mat-sidenav-container class="sidebar-layout">
  <mat-sidenav class="sidebar-layout-nav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/tournaments" [activated]="activeLink === '/tournaments'"
        >Tournaments</a
      >
      <a mat-list-item routerLink="/matches" [activated]="activeLink === '/matches'">Matches</a>
      <a mat-list-item routerLink="/teams" [activated]="activeLink === '/teams'">Teams</a>
      <a mat-list-item routerLink="/players" [activated]="activeLink === '/players'">Players</a>

      @if (auth.hasRole('admin')) {
        <a mat-list-item routerLink="/users" [activated]="activeLink === '/users'">Users</a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidebar-layout-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
