<div class="login-wrapper">
  <mat-card class="login-card">
    <h2 class="title">Login</h2>

    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />

        @if (form.controls.email.touched && form.controls.email.invalid) {
          <mat-error>
            @if (form.controls.email.errors?.['required']) {
              Email is required
            }
            @if (form.controls.email.errors?.['email']) {
              Invalid email
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        @if (form.controls.password.touched && form.controls.password.invalid) {
          <mat-error>
            @if (form.controls.password.errors?.['required']) {
              Password is required
            }
            @if (form.controls.password.errors?.['minlength']) {
              Min length: 3
            }
            @if (form.controls.password.errors?.['maxlength']) {
              Max length: 128
            }
          </mat-error>
        }
      </mat-form-field>
    </form>

    <button
      matButton="filled"
      color="primary"
      class="full-width"
      [disabled]="form.invalid || loading()"
      (click)="login()"
    >
      {{ loading() ? 'Loading...' : 'Login' }}
    </button>

    @if (errorMessages().length > 0) {
      <div class="error-box">
        @for (err of errorMessages(); track err) {
          <div>{{ err }}</div>
        }
      </div>
    }
  </mat-card>
</div>
