<app-form-page-toolbar
  [title]="fullName()"
  [mode]="mode()"
  [form]="form"
  (back)="goToList()"
  (edit)="enableEdit()"
  (save)="save()"
  (cancel)="cancelEdit()"
/>

<form [formGroup]="form">
  <app-form>
    @if (mode() !== 'create') {
      <app-form-row [cols]="2">
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id" readonly />
        </mat-form-field>
      </app-form-row>
    }

    <app-form-row [cols]="4">
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <input matInput formControlName="firstName" [readonly]="mode() === 'view'" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <input matInput formControlName="lastName" [readonly]="mode() === 'view'" />
      </mat-form-field>
    </app-form-row>

    <app-form-row [cols]="4">
      <mat-form-field appearance="outline">
        <mat-label>Attack</mat-label>
        <input matInput type="number" formControlName="attack" [readonly]="mode() === 'view'" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Defence</mat-label>
        <input matInput type="number" formControlName="defence" [readonly]="mode() === 'view'" />
      </mat-form-field>
    </app-form-row>

    <app-form-row [cols]="4">
      <mat-form-field appearance="outline">
        <mat-label>Team</mat-label>

        @if (mode() === 'view') {
          <input matInput [value]="getTeamName(form.value.teamId)" [readonly]="mode() === 'view'" />
        } @else {
          <mat-select formControlName="teamId">
            <mat-option value="free-agent">Free agent</mat-option>
            @for (team of teams(); track team.id) {
              <mat-option [value]="team.id">{{ team.name }}</mat-option>
            }
          </mat-select>
        }
      </mat-form-field>
    </app-form-row>
  </app-form>
</form>
