.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 24px;
  text-align: center;
  width: 320px;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 16px;
}
